*.exe
.vscode
AK_SK.h
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
TargetDirectories.txt
build/
install_manifest.txt
build.ninja
CPackConfig.cmake
CPackSourceConfig.cmake
sdk/jieli_project/Release/*
sdk/jieli_project/Debug/*
*.depend
*.layout
*.log
.qoder/
